* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255 222 89);
    font-family: 'Arial', sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px black;
    padding: 0 20px;
}


.logo {
    letter-spacing: -3px;
    font-family: 'Style Script', cursive;
}

.logo span:first-child {
    color: violet;
}

.logo span:last-child {
    margin-left: 1px;
    letter-spacing: 1px;
    font-size: 20px;
}

ul {
    list-style: none;
}

ul li {
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li a {
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu > li:hover {
    background-color: violet;
}

.menu > li:hover > .submenu, 
.submenu > li:hover > .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background: violet;
    min-width: 130%;
}


.submenu li:hover {
    background-color: rgb(184, 43, 184);
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}

.logo-photo {
    border-radius: 50%;
    width: 300px;
    margin-top: 20px;
}

.logo-photo:hover {
    box-shadow: 0px 15px 20px rgb(177 156 70);
}

.profile {
    text-align: center;
}

.container {
    display: flex;
}

.article {
    margin: 20px;
    width: 500px;
    padding: 10px;
}

p {
    font-variant: small-caps;
    text-indent: 50px;
    line-height: 30px;
    color: rgb(184, 43, 184);
}

p::first-letter {
    font-size: 50px;
    font-family: 'WindSong', cursive;
    margin-right: 15px;
    color: rgb(131, 37, 131);
}

h2 {
    font-family: 'Style Script', cursive;
    letter-spacing: 10px;
    margin: 50px 0 50px 0;
    text-decoration: underline;
    color: black;
    font-size: xx-large;
    padding: 10px;
    text-align: center;
}

h2:hover {
    box-shadow: 0 0 10px black;
    border-radius: 30px;
}

.subtitle {
    display: inline-block;
    margin-left: 20px;
}
