* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 209, 110);
    font-family: 'Arial', sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px black;
    padding: 0 20px;
}


.logo {
    letter-spacing: -3px;
    font-family: 'Style Script', cursive;
}

.logo span:first-child {
    color: violet;
}

.logo span:last-child {
    margin-left: 1px;
    letter-spacing: 1px;
    font-size: 20px;
}

ul {
    list-style: none;
}

ul li {
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li a {
    padding: 17px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu > li:hover {
    background-color: violet;
}

.menu > li:hover > .submenu, 
.submenu > li:hover > .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background: violet;
    min-width: 130%;
}


.submenu li:hover {
    background-color: rgb(184, 43, 184);
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}

